<html lang="en">
  <head>

    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <link rel="canonical" href="{{seo.url}}" />
    <meta name="description" content="{{seo.description}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{seo.url}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="{{seo.image}}" />
    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">

        <h1 class="title">SLD</h1>
        <h2>
          <u>S</u>team
          <u>L</u>eaderboard
          <u>D</u>eleter
        </h2>

        {{#if error}}
          <p class="color-info" style="font-width: bold; color:red;">
            {{error}}
          </p>
        {{/if}}

        {{#if success}}
          <p class="color-info" style="font-width: bold; color:white;">
            Operation completed successfully. It may take a while to take effect on the Steam servers, so please wait if you still see the leaderboards on the database.
          </p>
        {{/if}}

        <div class="color-form">
          {{#if leaderboards}}
            <span style="color:white;"># of leaderboards: {{leaderboards.length}}</span>
            <ul class="leaderboardList">
              {{#each leaderboards}}
                <li class="leaderboard"><div>
                    <p><b>ID:</b> {{this.id}}</p>
                    <p><b>NAME:</b> {{this.name}}</p>
                    <p><b># OF ENTRIES:</b> {{this.entries}}</p>
                  </div></li>
              {{/each}}
            </ul>

            <form class="color-search" method="post" onsubmit="return confirm('Do you really wish to delete {{leaderboards.length}} elements?');">
              <input type="hidden" name="delete" value="1" />
              <input type="hidden" name="key" value="{{form.key}}" />
              <input type="hidden" name="appid" value="{{form.appid}}" />
                <input type="hidden" name="leaderboards" value="{{#each leaderboards}}{{this.name}},{{/each}}" />
              <button type="submit">Confirm</button>
            </form>
            <a href="/" class="cancelBtn">Cancel</a>
          {{else}}
            <form class="color-search" method="post">
              <div class="form-input">
                <label for="name">
                  Search text:
                  <input
                    id="name"
                    name="name"
                    required="required"
                    type="text"
                  />
                </label>
              </div>

              <div class="form-input">
                <label>
                  AppID:
                  <input
                    id="appid"
                    name="appid"
                    required="required"
                    type="text"
                  />
                </label>
              </div>

              <div class="form-input">
                <label>
                  Publisher API Key:
                  <input
                    id="key"
                    name="key"
                    required="required"
                    type="password"
                  />
                </label>
              </div>

              <button type="submit">Submit</button>
            </form>
          {{/if}}
        </div>

      </div>
    </div>

    <footer class="footer">
      <div class="links"></div>
      If you see me IRL
      <br />
      buy me a beer thanks
    </footer>
  </body>
</html>